<h1>Add new Vendor</h1>
<form action="/vendors"method="post">

<lable for ="name">Vendor name</lable>
<input id="name" name="name" type="text">
<lable for ="description">Vendor decription</lable>
<input id="description" name="description" type="text">
<button type="submit">Submit</button>

</form>